body{
  background-color: #FFF;
}

.container{
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5em;
  background-color: #002E54;
  text-align: right;
}

.logo-img{
  display:flex;
  background-image: url(../resources/logotipo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 3em;
  width: 13em;
  margin: 25px 0px 0px 20px;
}

.options-container{
display:flex;
justify-content: center;
align-items: center;
height: 100px;
margin-top: 100px;
}

.options-container>div{
display:flex;
justify-content: center;
align-items: center;
height: 100px;
width: 100px;
background-size: 60%;
background-repeat: no-repeat;
}

.place-icon{
background-image: url(../resources/place.svg);
margin-top: 45px;

}

.indicator-icon{
  background-image: url(../resources/pointer.svg);
  margin-top: 45px;

}

.year-icon{
  background-image: url(../resources/calendar.svg);
  margin-top: 45px;

}
